*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.contenedor{
    display: grid;
    grid-template: 
    '. nav main aside .';
    grid-template-columns: 0.2fr 0.1fr 0.5fr 0.2fr;
    gap: 15px;
    padding: 20px;
}
.header{
    width: 100%;
    height:60px;
    grid-area: head;
    background-color:#ffffff;
}
.nav{
    width: 100%;
    height: 100vh;
    grid-area: nav;
    background-color: #f5f5f5;
}
.main{
    width: 100%;
    height: 100vh;
    grid-area: main;
    background-color: #f5f5f5;
}
/* .aside{
    width: 100%;
    height: 100vh;
    grid-area: aside;
    background-color: green;
} */

@media (max-width: 1023px) {
    .contenedor{
        display: grid;
        grid-template: 
        ' nav main .';
        grid-template-columns: 0.3fr 5fr ;
    }
    .nav{
        width: 100%;
        height: 100vh;
    }
    .main{
        width: 100%;
        height: 100vh;
        grid-area: main;
    }
    .aside{
        display: none;
    }
    .fa-bars{
        display: none;
    }
    .fa-magnifying-glass{
        display: none;
    }
    .contenedor__aside{
      display: none;
    }
}

@media (min-width: 1023px){
    .contenedor{
        display: gird;
        grid-area:
        '.';
    }
    .aside{
        width: 100%;
        height: 100vh;
        grid-area: aside;
        background-color: white;
    }
    .fa-bars{
        display: none;
    }
    .fa-magnifying-glass{
        display: none;
    }
}    
@media(max-width:462px){
    .contenedor{
        display: grid;
        grid-template-columns: 200px;
    }
    .header{
    width: 100vh;
    }
    .contenedor__etiquetas--li{
        display: none;
    }
    nav{
        display: none;
    }
    aside{
        display: none;
    }
    .main{
        grid-area: nav;
        
    }
    .contenedor{
    display: none;
    }

}
.header__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.header__contenedor--img-input{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
}
.header__contenedor--link{
    margin: 10px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo{
    display: flex;
    margin: 5px;
    height: 100%;
    width: 100px;
}
.header__input{
    margin-bottom: 60px;
    display: flex;
    height: 40px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.header__link{
    font-size: 15px;
    color: black;
    text-decoration:none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.header__link1{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border:1px  solid blue;
    border-radius: 5px;
    color: blue;
    text-decoration:none;
    padding: 10px 10px 10px 10px;

}
.header__link:hover{
    text-decoration: underline;
    background-color: rgb(219, 214, 214);
    color: blue;
}
.header__link1:hover{
    text-decoration: underline;
    color:white;
    background-color: rgb(104, 104, 229);
}
@media(max-width:425px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        'nav'
        'main';
    }
    body{
        width: 100%;
        height: 100%;
    }
    .header__contenedor{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .header__contenedor--img-input{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    .fa-solid{
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    .header__input{
        display: none;
    }
    .header__link{
        display: none;
    }
}
.contenedor__nav{
    display: grid;
    grid-template-columns: repeat(1,220px);
    grid-template-rows: 100px;
    background-color: white;
    width: 250px;
    height: 270px;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
}
.etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__nav--hipervinculos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedor__nav--hipervinculos-1{
    color: blue;
    padding:7px 54px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
}
.contenedor__nav--hipervinculos-1:hover{
    background-color: blue;
    color: white;
    text-decoration: underline;

}
.contenedor__nav--hipervinculos-2{
    color: black;
}
.contenedor__nav--hipervinculos-2:hover{
    background-color: #3b49df77;
    padding: 7px 77px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: underline;
}
.contenedor__etiquetas--li{
    list-style: none;
    padding: 10px 10px 10px 10px;
    gap: 5px;
}
.contenedor__etiquetas--li:hover{
    background-color: #ACE6FA;
    border-radius: 5px 5px 5px 5px;
    text-decoration: underline;
}
.contenedor__hiper{
    color: black;
    text-decoration: none;
    text-decoration: none;
}
.contenedor__main--hipervinculo{
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  margin: 5px;
}
.contenedor__main--hipervinculo:hover{
  color: blue;
  text-decoration: underline;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}
.contenedor__section{
  display: grid;
  grid-template-columns: repeat(1,500px);
  grid-template-rows: repeat(1,90px);
}
.contenedor__main--article{
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
  gap:10px;
  display: flex;
  flex-direction: column;
}
.contenedor__main--section{
  background-color: white;
}
.contenedor__aside1{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid grey;
}
.contenedor__aside2{
  border: 1px solid grey;
  border-radius: 5px 5px 5px 5px ;
}
.contenedor__aside3{
  border-radius: 5px 5px 5px 5px;
  border:  1px solid grey;
}
.contenedor__aside--article{
  padding: 20px 20px 20px 20px;
}
.contenedor__aside--article2{
  padding: 20px 20px 20px 20px;
}
.contenedor__aside--article3{
  padding: 20px 20px 20px 20px;
}
.contenedor__aside--hipervinculo{
  color:  black;
}
.contenedor__aside--hipervinculo:hover{
  color: blue;
}
.contenedor__aside--hipervinculo2{
  color: black;
}
.contenedor__aside--hipervinculo2:hover{
  color: blue;
}
.contenedor__aside--hipervinculo3{
  color: black;
}
.contenedor__aside--hipervinculo3:hover{
  color: blue;
}
.contenedor__aside--parrafo{
  color: grey;
  font-size: 13px;
}