*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template: 
    '. nav main aside .';
    grid-template-columns: 0.2fr 0.2fr 0.5fr 0.2fr;
    gap: 15px
;
}
.header{
    width: 100%;
    height:60px;
    grid-area: head;
    background-color: blue;
}
.nav{
    width: 100%;
    height: 100vh;
    grid-area: nav;
    background-color: chocolate;
}
.main{
    width: 100%;
    height: 100vh;
    grid-area: main;
    background-color: yellow;
}
/* .aside{
    width: 100%;
    height: 100vh;
    grid-area: aside;
    background-color: green;
} */

@media (max-width: 1023px) {
    .contenedor{
        display: grid;
        grid-template: 
        ' nav main .';
        grid-template-columns: 0.3fr 5fr ;
    }
    .nav{
        width: 100%;
        height: 100vh;
        background-color: chocolate;
    }
    .main{
        width: 100%;
        height: 100vh;
        grid-area: main;
        background-color: yellow;
    }
    .fa-bars{
        display: none;
    }
    .fa-magnifying-glass{
        display: none;
    }
}

@media (min-width: 1023px){
    .contenedor{
        display: gird;
        grid-area:
        '.';
    }
    .aside{
        width: 100%;
        height: 100vh;
        grid-area: aside;
        background-color: green;
    }
    .fa-bars{
        display: none;
    }
    .fa-magnifying-glass{
        display: none;
    }
}    
@media(max-width:462px){
    .contenedor{
        display: grid;
        grid-template-columns: 200px;
    }
    .contenedor__etiquetas--li{
        display: none;
    }
    p{
        display: none;
    }
    nav{
        display: none;
    }
    aside{
        display: none;
    }
    .main{
        grid-area: nav;
        
    }
    div{
        display: none;
    }
    .contenedor{
    display: none;
    }

}
.header__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.header__contenedor--img-input{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
}
.header__contenedor--link{
    margin: 10px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo{
    display: flex;
    margin: 5px;
    height: 100%;
    width: 100px;
}
.header__input{
    margin-bottom: 60px;
    display: flex;
    height: 40px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.header__link{
    font-size: 15px;
    color: white;
    text-decoration:none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.header__link1{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border:1px  solid black;
    border-radius: 5px;
    color: white;
    text-decoration:none;
    padding: 10px 10px 10px 10px;

}
.header__link:hover{
    text-decoration: underline;
    background-color: grey;
}
.header__link1:hover{
    text-decoration: underline;

}
@media(max-width:425px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        'nav'
        'main';
    }
    body{
        width: 100%;
        height: 100%;
    }
    .header__contenedor{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .header__contenedor--img-input{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    .fa-solid{
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    .header__input{
        display: none;
    }
    .header__link{
        display: none;
    }

}
.contenedor__nav{
    display: grid;
    grid-template-columns: repeat(1,220px);
    grid-template-rows: 100px;
    background-color: white;
    width: 250px;
    height: 270px;
    border-radius: 5px 5px 5px 5px;
    justify-content: center;
    align-items: center;
}
.etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__nav--hipervinculos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedor__nav--hipervinculos-1{
    color: blue;
    padding:7px 54px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 5px 5px 5px 5px;
}
.contenedor__nav--hipervinculos-1:hover{
    background-color: blue;
    color: white;
    text-decoration: underline;

}
.contenedor__nav--hipervinculos-2{
    color: black;
}
.contenedor__nav--hipervinculos-2:hover{
    background-color: #3b49df77;
    padding: 7px 77px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: underline;
}
.etiquetas{
    background-color: white;
}
.contenedor__etiquetas--li{
    list-style: none;
}